{
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "filepath": "",
  "requirePragma": false,
  "insertPragma": false
}